body {
    background-color: #ceeaeb;
    font-family:sans-serif;
    font-size: medium;
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #170909;

}
.poema {
    background-color: #b5d3c8;
    padding: 50px; 
    width: 300px; 
    border-radius: 15px;
    box-shadow: 0 4px 10px black (0,0,0,0.3);
    text-align: center; 
    display: block;
    flex-direction: column;
}