body {
    font-family: sans-serif;
    margin: 100px;
    line-height: 1.6;
    display: block;
    justify-content: center;
    align-items: center;

}
.form {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 50;
    box-shadow: 10px;
}

h2 {
font-family: Times;
display: flex;
justify-content: center;
align-items: center;
}

.nome {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}