form {
    display: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;
}
.buscar {
    display: flex;
    justify-content:center;
    align-items:center;
}

label {
    color: darkred;
    font-family: monospace;
}

input {
    border-radius: 5px;
    border:#d1c3b2;
}

button {
    background-color: #e0cde0;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: none;
    transition: 500ms;
    opacity: 0.8;
}




.titulo{ /*Título "dicionario de programação*/
    display:flex;
    justify-content: center;
    align-content: center;
    font-family:unset;
    font-style: italic;
    font-size:medium;
    font-weight:normal;
    text-decoration-line:overline;
}

.alfabeto { /*A PARTE DO ALFABETO QUE LEVA O USUÁRIO AO TERMO DESEJADO*/
    display: flex;
    justify-content: center;
    align-items: center;;
    text-align: center;
    font-family:monospace;
    text-decoration-line:overline;
    text-rendering: geometricPrecision;
    font-style:normal;
    
}

.a { /*CARD DO ALGORITMO*/ /*1*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: lighter;
    background-color: #d1c3b2;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

.a:hover { /*ALGORITMO:BORDA*/ /*1*/
    transform: translateY(-5px);
    border-left: 5px solid #007bff;

}

.a dt{ /*ALGORITMO, O PRÓPRIO TERMO ALGORTIMO*/ /*1*/
    font-size: 1.5em;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.separador { /*SEPARADOR ENTRE ALGORITMO E API*/ /*1*/
    text-align: center;
    text-decoration: overline;
}

.interface { /*CARD DA API*/ /*2*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: lighter;
    background-color: #dfac97;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.interface:hover { /*BORDA DO CARD DE API*/ /*2*/
    transform: translateY(-5px);
    border-left: 5px solid #007bff;
}

.interface dt{ /*API, TÍTULO DO CARD*/ /*2*/
    font-size: 1.5em;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.separador2 { /*SEPARADOR ENTRE API E ARRAY*/ /*2*/
    text-align: center;
    text-decoration: overline;
}

.arranjador { /*CARD DE ARRAY*/ /*3*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: lighter;
    background-color: #d1c3b2;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.arranjador:hover { /*BORDA DE ARRAY*/
    transform: translateY(-5px);
    border-left: 5px solid black;
}

.arranjador dt { /*TÍTULO DE ARRAY*/
    font-size: 1.5em;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.separador3 { /*SEPARADOR ENTRE ARRAY E ASCII*/
    text-align: center;
    text-decoration: overline;
}

.ascii { /*ASCII*/ /*4*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: lighter;
    background-color: #afacb0;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.ascii:hover {
    transform: translateY(-5px);
    border-left: 5px solid #0c292a;
}

.ascii dt {
    font-size: 1.5em;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.separador4 {
    text-align: center;
    text-decoration:overline;
}

.b {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: lighter;
    background-color: #d1c3b2;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.b:hover {
    transform: translateY(-5px);
    border-left: 5px solid #a57985;
}

.b dt {
    font-size: 1.5em;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.separador5 {
    text-align: center;
    text-decoration: overline;
}

.banco {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: lighter;
    background-color: #d1c3b2;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.banco:hover {
    transform: translateY(-5px);
    border-left: 5px solid #a57985;
}

.banco dt {
    font-size: 1.5em;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.separador6 {
    text-align: center;
    text-decoration: overline;
}

.boleano {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: lighter;
    background-color: #d1c3b2;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.boleano:hover {
    transform: translateY(-5px);
    border-left: 5px solid #a57985;
}

.boleano dt {
    font-size: 1.5em;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}



